.sidebar {
  width: 220px;
  background: #faf6f1;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  height:100vh;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #c0453a;
  border-radius: 50%;
}

.profile {
  display: flex;
  gap: 10px;
  padding: 12px;
  background: #f0ebe4;
  border-radius: 10px;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav-item {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #555;
}

.nav-item:hover {
  background: #f3ecea;
}

.active {
  background: #efe7e5;
  color: #c0453a;
}

.logout {
  margin-top: auto;
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}